<div class="hero-unit">
	<h3>admin menu</h3>
		<%= link_to("Kategorie", {:controller => 'kategories'}, :class => 'btn btn-primary') %>
		<%= link_to("Strony", {:controller => 'stronas'}, :class => 'btn btn-success')%>
		<%= link_to("Artykuły", {:controller => 'artykuls'}, :class => 'btn btn-default') %>
		<%= link_to("Galerie", {:controller => 'galeries'}, :class => 'btn btn-primary')%>
		<%= link_to("Zdjecia", {:controller => 'zdjencies'}, :class => 'btn btn-primary') %>
		<%= link_to("Uzytkownicy", {:controller => 'uzytkowniks'}, :class => 'btn btn-warning')%>
		<%= link_to("Wyloguj", {:controller => 'logout'}, :class => 'btn btn-danger') %>
</div>