<div class="hero-unit">

<h1>edycja zdjec: <%= @zdjecia.nazwa %></h1>

	<%= form_for(:zdjecia, :url => { :action => 'aktualizuj', :id => @zdjecia.id}) do |pole| %>

	<%= render(:partial => "form", :locals => {:pole => pole})%>



<div style="text-align: center;">
	<%= link_to("powrót", {:action => 'index'}, :class => 'btn btn-primary')%>
	<%= submit_tag("aktualizuj", :class => 'btn btn-warning' )%>
</div>

<% end %>

</div>