<div class='hero-unit'>
<h1>Strony</h1>

	<%= link_to("dodaj nowa strone", {:action => 'nowa'}, 
		:class => "btn btn-primary") %>

	<p style="text-align: right;"> Ilosc stron: <%= @stronas.size%></p>

	<table class="table table-striped">
		<tr class="info">
			<th>pozycja</th>
			<th>kategoria</th>
			<th>nazwa strony</th>
			<th>widoczna</th>
			<th>artykuly</th>
			<th>akcja</th>
		</tr>
	<%= @stronas.each do |str|%>	
		<tr>
			<th><%= str.pozycja%></th>
			<th><%= str.kategorie.nazwa %></th>
			<th><%= str.nazwa %></th>
			<th class="center"><%= status_widoku(str.widoczna) %></th>
			<th class="center"><%= str.artykuls.size %></th>
			<th class="actions">
				<%= link_to("wyświetl", {:action => 'pokaz', :id => str.id }, :class => 'btn btn-xs btn btn-default')%>
				<%= link_to("edytuj", {:action => 'edycja', :id => str.id }, :class => 'btn btn-xs btn btn-primary') %>
				<%= link_to("usun", {:action => 'usun', :id => str.id}, :class => 'btn btn-xs btn btn-warning') %>
			</th>
		</tr>
		<% end %>
	</table>

</div>

