<%= blad(@galeria) %>

<table class="table table-striped">
	<tr>
		<th><%= pole.label(:nazwa) %></th>
		<td><%= pole.text_field(:nazwa, :class => 'form-control')%></td>
	</tr>

	<tr>
		<th><%= pole.label(:pozycja) %></th>
		<td><%= pole.select(:pozycja, 1..@licznik, :class => 'form-control')%></td>
	</tr>

	<tr>
		<th><%= pole.label(:widoczna, "Czy jest widoczna ?")%></th>
		<td><%= pole.check_box(:widoczna)%></td>
	</tr>
	<% if !@galeria.blank? %>
	<tr>
		<th>Zdjęcie:</th>
		<td><%= pole.file_field(:zdjecie) %></td>
	</tr>
	<% end %>
	<tr>
		<th><%= pole.label(:created_at, "Utworzona")%></th>
		<th><%= pole.datetime_select(:created_at, :class => 'form-control')%></th>
	</tr>

	<tr>
		<th><%= pole.label(:opis)%></th>
		<th><%= pole.text_area(:opis, :class => 'form-control')%></th>
	</tr>

</table>