<div class="hero-unit">
	<h1>Kategorie</h1>
	<%= link_to("Dodaj nową kategorię", {:action => 'nowa'}, :class => 'btn btn-mini btn-primary')%>
	<p style="text-align: right;">Ilość kategorii: <%= @kategorie.size %> </p>

	<table class="table table-striped">
		<tr class="info">
			<th>pozycja</th>
			<th>nazwa katergori</th>
			<th>widoczna</th>
			<th>strony</th>
			<th>akcje</th>
		</tr>
	<% @kategorie.each do |kat| %>
		<tr>
			<td><%= kat.pozycja %></td>
			<td><%= kat.nazwa %></td>
			<td class="center"><%= status_widoku(kat.widoczna) %></td>
			<td class="center"><%= kat.stronas.size%></td>
			<td class="actions">
				<%= link_to("strony", {:controller => 'stronas', :kategoria_id => kat.id}, :class => 'btn btn-xs btn btn-success')%>
				<%= link_to("wyświetl", {:action => 'pokaz', 
				:id => kat.id}, :class => 'btn btn-xs btn btn-default')%>	
				<%= link_to("edycja", {:action => 'edycja', :id => kat.id},
				:class => 'btn btn-xs btn btn-primary')%>
				<%= link_to("usuń", {:action => 'usun', 
				:id => kat.id}, :class => 'btn btn-xs btn btn-danger')%>
			</td>
		</tr>
	<%end%>	

	</table>

</div>